* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-color: black;
}

.card {
  border: none;
}

.forgot-password:hover {
  color: white !important;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

@media only screen and (max-width: 1080px) {
  #fadeshow1 {
    display: none;
  }
}

@media only screen and (min-width: 1081px) {
  #fadeshow2 {
    display: none;
  }
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

#app {
  width: 90vw;
  margin: 1em auto;
  max-width: 1200px;
}

#map {
  border: 5px solid black;
  border-bottom: 0;
  height: 400px;
}

#search-form {
  border: 5px solid black;
  margin: auto;
  padding: 0 1em 1em 1em;
  background-color: white;
}

.mapAndSearch {
}
#results-area {
  /* border: 10px solid black;
  border-radius: 10px;
  background-color: white; */
}

.result-tile {
  background-color: white;
  width: 100%;

  display: flex;
  justify-content: space-between;
  border: 5px solid black;
  margin-bottom: 0.2em;
}

.reserve-btn {
  background-color: greenyellow;
  border: 0;

  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.reserve-btn:hover {
  background-color: black;
  color: greenyellow;
}

.result-descrip {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-descrip > h3,
.result-descrip > h5 {
  margin: 0;
}

@media only screen and (min-width: 769px) {
  .mapAndSearch {
    display: flex;
    margin-bottom: 1em;
  }
  #map-section {
    width: calc(100% - 350px);
  }
  #map {
    border: 5px solid black;

    height: 100%;
  }

  #search-form {
    border-left: 0;
    margin: 0;
    padding: 0 1em 1em 1em;
    background-color: white;

    width: 350px;
  }
}
