<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Operator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.js"></script>




  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="https://use.fontawesome.com/da8f2a3609.js"></script>

  <script src="../script/operator.js"></script>
</head>
<style>
  .background {
    background-color: black;
  }

  .loading-modal-lg .modal-dialog {
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }

  .loading-modal-lg .modal-dialog .modal-content {
    background-color: transparent;
    border: none;
  }

  .card {
    border: none;
  }

  .forgot-password:hover {
    color: white !important;
  }

  th {
    color: white !important;
    white-space: nowrap !important;
  }

  .condensed {
    font-size: 13px;
  }


  .gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }

  @media only screen and (max-width: 1080px) {
    #fadeshow1 {
      display: none;
    }
  }

  @media only screen and (min-width: 1081px) {
    #fadeshow2 {
      display: none;
    }
  }


  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }

  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
</style>

<body ng-app="priceApp" ng-controller="priceCtrl as vm">

  <!-- Loading Modal -->
  <div id="loading-modal" class="modal fade loading-modal-lg" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" style="width: 48px">
        <span style="color: white" class="fa fa-spinner fa-spin fa-3x"></span>
      </div>
    </div>
  </div>


  <section id="fadeshow1" class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-12">
          <div class="card bg-dark rounded-3 text-white">
            <div class="row g-0">
              <div class="col-lg-6">
                <nav style="padding-left: 1.5em" class="navbar navbar-expand-lg navbar-dark primary-color">
                  <a class="navbar-brand" href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i>
                          <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-car" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </nav>
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <h2 class="fw-bold mb-2 text-uppercase">Operator</h2>
                  </div>
                  <table class="table table-dark condensed">
                    <thead>
                      <tr>
                        <th>
                          Description
                        </th>
                        <th>
                          Floor Count
                        </th>
                        <th>
                          Active
                        </th>
                        <th>
                          Overbook Rate
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id="{{garage.GARAGE_ID}}" ng-repeat="garage in vm.garages.list | orderBy : garage.GARAGE_ID">
                        <td style="color: white !important;">{{garage.DESCRIPTION}}</td>
                        <td style="color: white !important;">{{garage.FLOOR_COUNT}}</td>
                        <td style="color: white !important;">{{garage.IS_ACTIVE}}</td>
                        <td style="color: white !important;">{{garage.OVERBOOK_RATE}}</td>
                        <td>
                          <button ng-click="vm.editGarage(garage.GARAGE_ID)" type="button" class="btn btn-info btn-sm">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="text" class="form-control form-control-sm"
                            ng-model="vm.garages.currentEdit.DESCRIPTION">
                        </td>
                        <td>
                          <input type="text" class="w-50 form-control form-control-sm"
                            ng-model="vm.garages.currentEdit.FLOOR_COUNT">
                        </td>
                        <td>
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                              ng-model="vm.garages.currentEdit.IS_ACTIVE">
                          </div>
                        </td>
                        <td>
                          <input type="text" class="w-50 form-control form-control-sm"
                            ng-model="vm.garages.currentEdit.OVERBOOK_RATE">
                        </td>
                        <td>
                          <button type="button" class="btn btn-success btn-sm">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
              <div class="col-lg-6 d-flex justify-content-center align-items-center gradient-custom-2"
                style="background: black !important;">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="col-lg-12 d-flex justify-content-center align-items-center gradient-custom-2 right-div">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Description
                          </th>
                          <th>
                            Daily Max
                          </th>
                          <th>
                            Cost
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr id="price-{{price.PRICING_ID}}"
                          ng-repeat="price in vm.price.options | orderBy : price.PRICING_ID">
                          <td style="color: white !important;">{{price.DESCRIPTION}}</td>
                          <td ng-if="price.PRICING_ID != 2" style="color: white !important;">
                            <span>{{vm.price.dailyMax}}</span>
                          </td>
                          <td ng-if="price.PRICING_ID == 2" style="color: white !important;">N/A</td>
                          <td style="color: white !important;">{{price.COST | currency}}</td>
                          <td>
                            <button ng-click="vm.editPrice(price.PRICING_ID)" type="button" class="btn btn-info btn-sm">
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input type="text" ng-model="vm.price.currentEdit.DESCRIPTION"
                              class="form-control form-control-sm" ng-disabled="true">
                          </td>
                          <td>
                            <input ng-if="vm.price.currentEdit.PRICING_ID != 2" type="text" ng-model="vm.price.dailyMax"
                              class="w-50 form-control form-control-sm" ng-model="vm.price.currentEdit.DAILY_MAX"
                              ng-disabled="!vm.price.currentEdit.PRICING_ID">
                            <input ng-if="vm.price.currentEdit.PRICING_ID == 2" type="text" ng-value="'N/A'"
                              class="w-50 form-control form-control-sm" ng-model="vm.price.currentEdit.DAILY_MAX"
                              ng-disabled="true">
                          </td>
                          <td>
                            <input type="text" ng-model="vm.price.currentEdit.COST"
                              class="w-100 form-control form-control-sm" ng-model="vm.price.currentEdit.COST"
                              ng-disabled="!vm.price.currentEdit.PRICING_ID">
                          </td>
                          <td>
                            <button type="button" ng-click="vm.savePriceEdit()" class="btn btn-success btn-sm"
                              ng-disabled="!vm.price.currentEdit.PRICING_ID">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-xs-12">
                    <button type="button" ng-click="vm.submitPriceUpdate()" class="btn btn-success btn-sm">Submit
                      Pricing Updates
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>